.accordion {
  background-color: #ffffff;
  color: #f00850;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #ffffff;
  overflow: hidden;
}
